*{
    text-decoration: none;
    }
    
    .navbar{
        background: rgb(60, 167, 230); 
        font-family: calibri; 
        padding-right: 15px; 
        padding-left: 15px;
        border-radius: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        vertical-align: top;
    }
    .Title{
        font-size: 60px;
        color: blanchedalmond;
        margin-left: -580px;
    }
    .Title:hover{
        color: chartreuse;
    }
    .navdiv{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    li{
        list-style: none; display: inline-block;
    }
    .li1, .li2, .li3{
        color: white; 
        font-size: 18px; 
        font-weight: bold; 
        margin-right: 25px;
        box-shadow: 0 4px 8px rgba(50, 50, 50)
    }
    
    .search{
        border-radius: 5px;
        border-style: solid;
        border-color: black;
    }
    
    .li1, .li2, .li3{
        background-color: white;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        border-radius: 50px;
        color: black;
        cursor: pointer;
    }
    .li1:hover{
        background-color: black;
        color: white;
        transition: 1s;
    }
    .li2:hover{
        background-color: black;
        color: white;
        transition: 1s;
    }
    .li3:hover{
        background-color: black;
        color: white;
        transition: 1s;
    }
    
    .logo{
        height: 70px;
        width: 70px;
    }


.p1{
    font-family: arial;
}

.gcash{
    height: 400px;
}